@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import 'remixicon/fonts/remixicon.css';

body,
html {
	@apply relative bg-(--trioxide_neutral-2) text-(--trioxide_neutral-12);
}

@utility prose-trioxide {
	--tw-prose-body: var(--trioxide_neutral-12);
	--tw-prose-headings: var(--trioxide_neutral-12);
	--tw-prose-lead: var(--color-pink-700);
	--tw-prose-links: var(--trioxide_highlight-9);
	--tw-prose-bold: var(--trioxide_highlight-11);
	--tw-prose-counters: var(--trioxide_neutral-11);
	--tw-prose-bullets: var(--trioxide_neutral-11);
	--tw-prose-hr: var(--trioxide_neutral-7);
	--tw-prose-quotes: var(--trioxide_neutral-12);
	--tw-prose-quote-borders: var(--trioxide_highlight-7);
	--tw-prose-captions: var(--color-pink-700);
	--tw-prose-code: var(--trioxide_highlight-9);
	--tw-prose-pre-code: var(--color-pink-100);
	--tw-prose-pre-bg: var(--trioxide_highlight-9);
	--tw-prose-th-borders: var(--color-pink-300);
	--tw-prose-td-borders: var(--color-pink-200);
	--tw-prose-invert-body: var(--color-pink-200);
	--tw-prose-invert-headings: var(--color-white);
	--tw-prose-invert-lead: var(--color-pink-300);
	--tw-prose-invert-links: var(--color-white);
	--tw-prose-invert-bold: var(--color-white);
	--tw-prose-invert-counters: var(--color-pink-400);
	--tw-prose-invert-bullets: var(--color-pink-600);
	--tw-prose-invert-hr: var(--color-pink-700);
	--tw-prose-invert-quotes: var(--color-pink-100);
	--tw-prose-invert-quote-borders: var(--color-pink-700);
	--tw-prose-invert-captions: var(--color-pink-400);
	--tw-prose-invert-code: var(--color-white);
	--tw-prose-invert-pre-code: var(--color-pink-300);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-pink-600);
	--tw-prose-invert-td-borders: var(--color-pink-700);
}

:root.trioxide_dark .shiki,
:root.trioxide_dark .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

.prose code:not(pre code) {
	background: var(--trioxide_highlight-a2);
	color: var(--trioxide_highlight-a10);
	padding: 0.1rem 0.3rem;
	border-radius: 4px;
	font-weight: 600;
}

/* remove the pseudo-backticks */
.prose code:not(pre code)::before,
.prose code:not(pre code)::after {
	content: none;
}

.prose :where(blockquote p:first-of-type)::before,
.prose :where(blockquote p:first-of-type)::after {
	content: none;
}

.button_group {
	@apply inline-flex rounded-md outline outline-(--trioxide_neutral-7);
	button {
		@apply flex items-center justify-center border-e border-(--trioxide_neutral-5) bg-(--trioxide_neutral-3) px-3 text-(--trioxide_neutral-11);
		&:first-of-type {
			@apply rounded-l-md;
		}
		&:last-of-type {
			@apply rounded-e-md border-e-0;
		}
		&.selected,
		&:hover {
			@apply bg-(--trioxide_neutral-5) text-(--trioxide_neutral-12);
		}
	}
}
